.container {
	height: 400px;
	width: 80%;
	position: relative;
	/*border: 1px solid black;*/
	top: 70px;
}

/*.carousel-inner > .item > img,*/
  /*.carousel-inner > .item > a > img {*/
      /*width: 70%;*/
      margin: auto;
  }

.cont {
	height: 400px;
	width: 80%;
	position: relative;
	/*border: 1px solid black;*/
	top: -20px;
}



.ro {
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px;
	justify-content: space-around;
}

#img1 {
	width: 150px;
	height:100px;
	border: 3px solid black;	
}



.col-lg-3 col-md-4 col-sm-6 {display: flex;
		-webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw;
   background-color: #C5BEB7;;
 }

